li{
  list-style: none;
}
ul{
  padding: 0;
}
.library{
  margin: 5rem 10rem;
}
form{
  width: 30%;
}
input{
  width:100%;
  padding: 10px;
  margin: 10px 0;
  border: 0;
  border-radius:10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
select {
  width: 100%;
  padding:10px;
  margin:10px 0;
  border-radius:10px;
  border: 0;
  border-radius:10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
button{
  appearance:none;
  padding:10px;
  border:none;
  background-color:$nav-color;
  color:$white;
  font-weight:600;
  border-radius:5px;
  width:100%;
}
.error::after{
  background-color: hsl(10, 60%, 50%);
  color: papayawhip;
  font-size: 1rem;
  line-height: 1.8;
  width: 150px;
  height: 50px;
  padding-left: 1rem;
  position:absolute;
  left: 0;
  content: attr(data-errormsg);
  text-align: left;
}
table,td,th{
  border-collapse: collapse;
  margin:40px 0;
}
